@{
    ViewData["Title"] = "Лабораторна 1";
}

<div class="row">
    <div class="col-md-12">
        <div style="margin-top: 1%; margin-bottom: 1%;">
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                <b>Завдання:</b>
            </p>
            <pre>
Петро і Вася захопилися азартними іграми на гроші. Гра складається з безлічі раундів, в кожному з яких кидається монета і якщо «Хвости» падають, то Петро виграє 
і отримує очко, в іншому випадку очко присуджується Васі. Бали, набрані в різних раундах, підсумовуються і перемагає перший, хто набрав N очок.
Несподівано в середині гри пролунав дзвінок, і хлопцям довелося закінчити гру. Допоможіть Петі і Васі справедливо розділити монети на лінії між собою відповідно 
до математичним очікуванням виграшу.

Вхідний файл input.txt містить 4 цілих числа N, K1, K2 і S в одному рядку. N – кількість очок, які необхідно набрати для перемоги. К1 і К2 - поточні точки Петі (К1) 
і Васі (К2). S – кількість монет, про які йде мова і які потрібно розділити між гравцями.
Обмеження: 1 ≤ N ≤ 50.0 ≤ K1, K2 < N, 1 < S < 10100.

У вихідному файлі output.txt, в пробілі відображають два цілих числа: кількість монет, які повинні отримати Петя і Вася. Не забувайте, що сума цих чисел повинна 
точно дорівнювати S. Гарантовано, що однозначна відповідь в цілих числах існує.
            </pre>
            <h2>Вхідні дані</h2>
            <form method="POST">
                <br />
                <label>Шлях до вхідного файлу:</label>
                <br />
                <input type="text" name="input_file" style="width: 500px" />
                <br />
                <br />
                <label>Шлях до вихідного файлу:</label>
                <br />
                <input type="text" name="output_file" style="width: 500px" />
                <br />
                <br />
                <input type='submit' value='Виконати' />
            </form>
        </div>
    </div>
</div>