@{
    ViewData["Title"] = "Лабораторна 2";
}

<div class="row">
    <div class="col-md-12">
        <div style="margin-top: 1%; margin-bottom: 1%;">
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                <b>Завдання:</b>
            </p>
            <pre>
Сашко, не зробив домашньої роботи, зате купив шоколадку. І, по дурості, почав роздруковувати її прямо на уроці... Шелест золотинки почула вчителька. 
Вона хотіла викликати до школи батьків, але Сашко вмовив її не викликати їх, а дати додаткове завдання.

Вчителька уважно подивилася на шоколадку (вона була розміром 3х4 плиток), розділила на шматочки по дві плитки та пригостила всіх, хто зробив домашню роботу. 
А Сашка попросила написати програму, яка визначає, скільки існує способів поділу шоколадки розміром 3×N плиток на шматочки по дві плитки.
Для виконання завдання Саші потрібна допомога.

Вхідний файл input.txt містить натуральне число N – розмір плитки (N < 33).

У вихідний файл output.txt виведіть одне ціле число – кількість можливих способів.
            </pre>
            <h2>Вхідні дані</h2>
            <form method="POST">
                <br />
                <label>Шлях до вхідного файлу:</label>
                <br />
                <input type="text" name="input_file" style="width: 500px" />
                <br />
                <br />
                <label>Шлях до вихідного файлу:</label>
                <br />
                <input type="text" name="output_file" style="width: 500px" />
                <br />
                <br />
                <input type='submit' value='Виконати' />
            </form>
        </div>
    </div>
</div>